$color-25: #f5f8ff;
$color-50: #eff4ff;
$color-100: #d1e0ff;
$color-200: #b2ccff;
$color-300: #84adff;
$color-400: #528bff;
$color-500: #2970ff;
$color-600: #155eef;
$color-700: #004eeb;
$color-800: #0040c1;
$color-900: #00359e;
$slate-50: #efefef;
$slate-100: #eaecf0;
$slate-200: #d0d5dd;
$slate-400: #999999;
$slate-500: #667085;
$slate-900: #101828;
$font: 'Inter', 'sans-serif';
