@import '../index.scss';

@mixin button {
    border: none;
    padding: 0.6em 3em;
    font-family: $font;
    background-color: $color-500;
    color: $color-25;
    line-height: 24px;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s liner;
}

@mixin icon {
    background-color: $color-500;
    border: none;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}

.iconBtn {
    @include icon();
    background-color: $color-500;

    &:hover {
        background-color: $color-600;
    }
}

.button {
    @include button();

    &:hover {
        background-color: $color-600;
    }
}

.transparentBtn {
    @include icon();
    background-color: transparent;

    &:hover {
        background-color: $color-50;
    }
}

.secondaryBtn {
    @include button();
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: transparent;
    border: 1px solid $color-100;
    color: $color-900;

    &:hover {
        background-color: $color-50;
    }
}
